{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('styles/home.css') }}" />
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('scripts/home.js') }}" type="text/javascript" defer></script>
{% endblock %}

{% block body %}
  <div class="home flex-fill">
    <div class="home-header">
      {{ form_start(formSearch) }}
      {{ form_row(formSearch.search) }}
      {{ form_end(formSearch) }}
    </div>
    <div class="home-body">
      {% for game in games %}
      <article class="card">
        <a data-link class="hidden" href="{{ path('app_game_view', {name: game.name}) }}"></a>
        <div class="card-img">
          {% if game.pictures.count > 0 %}
            {% for picture in game.pictures %}
              <img data-picture class="{{ loop.index-1 > 0 ? 'hidden' : '' }}" src="{{ asset(picture.path) }}" alt="image game {{ game.name }}" />
            {% endfor %}
          {% else %}
            <img src="{{ asset('images/ui/img-not-found.png') }}" alt="image not found" />
          {% endif %}
          {# Moyennes des votes #}
          <div class="card-rating hidden">
            {% set ratingScore = game.score %}
            {% if ratingScore %}
              {% for i in range(1, 5) %}
                <img
                  style="width: 20px;"
                  src="{{ asset('images/ui/star_' ~ (i <= ratingScore|round(0, 'floor') ? 'full' : 'empty') ~ '.png') }}"
                  alt="image star {{ i <= ratingScore|round(0, 'floor') ? 'full' : 'empty' }}">
              {% endfor %}
            {% else %}
              {% for i in range(1, 5) %}
                <img style="width: 20px" src="{{ asset('images/ui/star_empty.png') }}" alt="icon start">
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="card-body">
          <div class="card-body-title">
            <h4>{{ game.name }}</h4>
          </div>
          <div class="card-body-content">
            {{ game.description|nl2br }}
          </div>
          <div class="card-body-footer">
            <small>{{ game.createdAt|date('d/m/Y') }} par {{ game.author.pseudo }}</small>
            <small>{{ game.comments.count }} commentaires</small>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
    <div class="home-footer">
      PAGINATOR
    </div>
  </div>
{% endblock %}
