<header>
  <nav class="d-flex flex-row align-items-center p-20">
    <div class="flex-fill">
      <span class="brand">
        <a href="{{ path('app_home') }}">&lsaquo;Project OC Symf /&rsaquo;</a>
      </span>
    </div>
    <div>
      {% if app.user %}
        <a class="btn btn-light mr-5" href="{{ path('app_home') }}">Profil</a>
        <a class="btn btn-light" href="{{ path('app_auth_logout') }}">Déconnexion</a>
      {% else %}
        <a class="btn btn-light mr-5" href="{{ path('app_auth_signin') }}">Connexion</a>
        <a class="btn btn-light" href="{{ path('app_auth_signup') }}">Inscription</a>
      {% endif %}
    </div>
  </nav>
</header>